<div class='row'>
    <div class="small-3 columns">
        <%= image_tag('rant.png', alt: 'Give Voice to The People')%>
    </div>
    <div class="small-8 columns">
        <div style="margin-top:50px;">
            <p>All The Things: </p>
            <%= react_component 'Rants' %>
        </div>
    </div>
    <div class="small-1 columns">
        <p>Right</p>
    </div>
</div>
